
@{
    var Session = (Session)ViewData["Session"];
    var Subjects = (List<Subject>)ViewData["Subjects"];
    var Classes = (List<Class>)ViewData["Classes"];
}

@model Session
    <div class="content">
        <h1>Edit session</h1>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="post">
                    <div class="form-group">
                        <div>
                            <input type="hidden" name="Id" asp-for="@Session.Id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="hidden" name="SubjectId" asp-for="@Session.SubjectId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="hidden" name="ClassId" asp-for="@Session.ClassId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SessionTime">Session Time</label>
                        <input type="datetime-local" asp-for="SessionTime" value="@Session.SessionTime.ToString("yyyy-MM-ddThh:mm")" min="@DateTime.Now.AddHours(2).ToString("yyyy-MM-ddThh:mm")" max="@DateTime.Now.AddDays(7).ToString("yyyy-MM-ddThh:mm")" class="form-control" id="sessionTime" aria-describedby="sessionTime" placeholder="Enter Session Time">
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration">Session Duration</label>
                        <input type="text" asp-for="Duration" value="@Session.Duration" class="form-control" id="duration" aria-describedby="sessionDuration" placeholder="Enter Session Duration">
                    </div>
                    <div class="form-group">
                        <label for="classes">Class</label>
                        <select id="classes" name="classes">
                            @foreach (var classItem in Classes)
                            {
                                <option value="@classItem.ClassName">@classItem.ClassName</option>

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subjects">Subject</label>
                        <select id="subjects" name="subjects">
                            @foreach (var Subject in Subjects)
                            {
                                <option value="@Subject.SubjectName">@Subject.SubjectName</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn-colour-2" value="Update">Save</button>
                </form>
            </div>
        </div>
        </div>
